<header>
    <div id="navbarHeader" class="bg-dark collapse" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">
                        Automation Page for CheckPoint using API and Ansible.
                        Its shows how to perform some automatic tasks using different technologies.
                    </p>
                </div>
                <div class="col-sm-4 col-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li>Correo</li>
                        <li>Web</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark bg-faded justify-content-center">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex align-items-center" href="#First">
                <img style="max-height: 60px;" src="../static/images/CHKP_logo.svg">
                <!--img src="" alt="logo"-->
            </a>
            <div class="" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="../r80api">R80API <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="../admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light"
                           href="https://sc1.checkpoint.com/documents/latest/APIs/index.html">API Guide</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
