{% extends 'APIR80/base.html' %}
{% block content %}
<div class="container">
    {% if form.errors %}
    <div class="allert alert-warning">
        <stong><p>Your username and password didn't match. Please try again.</p></stong>
    </div>
    {% endif %}
    {% if next %}
        {% if next %}
            {$ if user.is_authenticated %}
                <div class="alert alert-info">
                    <p><strong>Your account doesn't have access to this page</strong>
                    Please login with an account that has access</p>
                </div>
            {% else %}
                <p>Please logging to see this page</p>
            {% endif %}
        {% endif %}
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2 class="text-center">Admin Login</h2>
            </div>
            <form method="post" action="{% url 'login' %}">
             {% csrf_token %}
                <div class="form-group">
                    <!--<input typer="user" class="form-control" id="userID" placeholder="User Login">-->
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <button type="submit" value="login" class="btn btn-primary">Login</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}